@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}
.MuiButton-root {
  font-family: "Montserrat", serif !important;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: #ff5252;
}
::-webkit-scrollbar-track {
  background: #f5f0f0;
}
.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
}

nav ul button:hover {
  background: none !important;
}

.sliderHomde {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px !important;
  color: #000;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #33ccff !important;
}
.homeCatSlider {
  overflow: inherit !important;
}
.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.homeCatSlider .item:hover img {
  transform: scale(1.1);
}
/* .homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 35px;
  height: 35px;
  min-width: 35px;
}
.homeCatSlider .swiper-button-prev::after,
.homeCatSlider .swiper-button-next::after {
  font-size: 16px !important;
}
.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}
.homeCatSlider .swiper-button-next {
  right: -10px !important;
}
  */

/* .swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  background: #ff5252 !important;
} */
